<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="refresh" content="{{content_time}}">
        This is the Home Page.
    </head>
    <body bgcolor="{{color}}">
        <p>
            Welcome to the Website!!
        </p>
        <h3>
            Try
            <marquee direction="right">
                <a href="{{name_url}}">
                    name page
                </a>
                or
                <a href="{{calc_url}}">
                    calc page
                </a>
            </marquee>
        </h3>
        <form action = "/upload" method = "post" enctype = "multipart/form-data">
            <label>Description: <input type = "text" name = "description" placeholder="description"></label>
            <br>
            <label>File: <input type = "file" name = "file"></label>
            <br>
            <input type = "submit" name = "Upload">
        </form>
    </body>
</html>
